/* font-family: 'Lato', sans-serif;
font-family: 'Orbitron', sans-serif; */

.motto {
    background: linear-gradient(rgba(0, 0, 0, 0.8), black), url('/src/assets/BGs/infinity-sign.svg');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}

.motto p {
    font-family: 'Lato', sans-serif;
}

.soon div {
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 100%;
    animation: loader 2s ease-in-out infinite;
}

.soon div:nth-child(1) {
    animation-delay: 0s;
}

.soon div:nth-child(2) {
    animation-delay: 0.25s;
}

.soon div:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes loader {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(2);
    }
}